<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1764 Attendance</title>

    <!--CDN Libraries-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
    <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" rel="stylesheet"/>

    <!--Bootstrap-->
    <script src="/scripts/bootstrap.js"></script>
    <link href="/content/bootstrap.css" rel="stylesheet" />

    <!--<link href="/content/font-awesome.min.css" rel="stylesheet" />-->

    <link href="/dist/css/1764Attendance.min.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- inject:1764Attendance:js -->
    <script src="/dist/js/attendance-module.js"></script>
    <script src="/dist/js/admin/admin-controller.js"></script>
    <script src="/dist/js/admin/admin-directive.js"></script>
    <script src="/dist/js/home/home-controller.js"></script>
    <script src="/dist/js/registration/register-controller.js"></script>
    <script src="/dist/js/registration/register-directive.js"></script>
    <script src="/dist/js/punchcard/punchcard-controller.js"></script>
    <script src="/dist/js/punchcard/punchcard-directive.js"></script>
    <script src="/dist/js/reporting/report-controller.js"></script>
    <script src="/dist/js/reporting/report-directive.js"></script>
    <script src="/dist/js/services/attendance-service.js"></script>
    <!-- endinject -->
</head>
<body ng-app="Attendance">
<div ng-controller="HomeController">
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="#"><img class="img-responsive navbar-brand-img" src="/content/images/Login%20Logo.png"></a>
        <div class="container-fluid">
            <!--Brand Info, brand name and image-->

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!--Only shows in small and extra small layout-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Nav Buttons -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{{IsActive(0)}}"><a ng-click="ActivateView(0)">Clock In/Out</a></li>
                    <li class="{{IsActive(1)}}"><a ng-click="ActivateView(1)">Register</a></li>
                    <li class="{{IsActive(2)}}"><a ng-click="ActivateView(2)">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Active View Switch-->
    <div ng-switch="ActiveView">
        <div ng-switch-when="0" punchcard></div>
        <div ng-switch-when="1" register></div>
        <div ng-switch-when="2" admin></div>
    </div>
</div>
</body>
</html>